<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mystery Word</title>
    <link href="/style.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css"> -->
  </head>
  <body>
    <h1>Mystery Word</h1>
    <div class="progress">
      {{#progress}}<div class="progress-letter"><h2>{{.}}</h2></div>{{/progress}}
    </div>
    {{^gameOver}}
    <form action="/guess/{{guess}}" method="post">
      <div class="input">
        <p>{{#messageToUser}}{{.}}{{/messageToUser}}{{^messageToUser}}{{.}}{{/messageToUser}}</p>
        <input type="text" name="guess" placeholder="Enter a letter" />
        <button type="submit"><i class="fa fa-plus" aria-hidden="true"></i> Make a Guess</button>
      </div>
    </form>
    <p># Guesses Left: {{#numGuesses}}{{.}}{{/numGuesses}}{{^numGuesses}}0{{/numGuesses}}</p>
    <p>Guesses: {{#guess}}{{.}}, {{/guess}}</p>
    {{/gameOver}}

    {{#gameOver}}
      <p>{{#messageToUser}}{{.}}{{/messageToUser}}</p>
      <form action="/play" method="get">
        <button type="submit"><i class="fa fa-plus" aria-hidden="true"></i> Play Again</button>
      </form>

    {{/gameOver}}

  </body>
</html>
