<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mystery Word</title>
    <link href="/style.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css"> -->
  </head>
  <body>
    <div class="game-area">
      <h1>Crack the Password</h1>
      <div class="progress">
        {{#progress}}<div class="progress-letter"><h2>{{.}}</h2></div>{{/progress}}
      </div>
      {{^gameOver}}
      <form name="guess" action="/guess/{{guess}}" method="post">
        <div class="input">
          <p>{{#messageToUser}}{{.}}{{/messageToUser}}{{^messageToUser}}{{.}}{{/messageToUser}}</p>
          <input type="text" name="guess" placeholder="Enter a letter" required="required" maxlength="1" pattern="[A-Za-z]"/>
          <button type="submit"><i class="fa fa-plus" aria-hidden="true"></i> Guess a letter</button>
        </div>
      </form>
      <p># Attempts Left: <span class="data">{{#numGuesses}}{{.}}{{/numGuesses}}{{^numGuesses}}0{{/numGuesses}}</span></p>
      <p>Guesses: <span class="data">{{#guess}}{{.}} / {{/guess}}</span></p>
      {{/gameOver}}

      {{#gameOver}}
        <p>{{#messageToUser}}{{.}}{{/messageToUser}}</p>
        <form action="/play" method="get">
          <button type="submit">Play Again</button>
        </form>
      {{/gameOver}}
    </div>
  </body>
</html>
