@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Special+Elite');

body {
  font-family: 'Special Elite', cursive;
  color: #fff;
  background: #1c1c1c;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.progress {
  display: flex;
  flex-direction: row;
  height: 55px;
  margin-bottom: 40px;
}

.progress-letter {
  margin: 3px;
  width: 30px;
  border-bottom: 1px solid #53565a;
  display: flex;
  justify-content: center;
  color: #00AA00;
}

.input {
  width: 50vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

input {
  font-size: 1em;
  padding: 20px;
  flex-grow: 2;
  border: 1px solid #ccc;
}

button {
  background-color: #00AA00;
  color: #fff;
  padding: 20px;
  font-size: 1em;
  border: 1px solid #00AA00;
  margin: 0;
  flex-grow: 1;
}
